* {
    margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: Roboto-Regular;
    
}

.all {
    display: flex;
    height: 370px;
    width: 225px;
    margin: 100px auto;
    background-color: antiquewhite;
    margin-left: 450px;
    align-items: flex-end;
    
    
   
}
ul.two > li {
list-style: none;
position: relative;
}

ul.two > li > a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}
ul.two > li > a:hover {
    color: coral;
}
ul.four {
    width: 230px;
    margin: 100px;
    margin-left: 225px;
    margin-top: 30px;
    line-height: 30px;
    background-color: antiquewhite;
    height: 370px;
    display: none;
    position: absolute;
   top: -30px;

}
ul.four  li {
    list-style: none;
    }
    ul.four  li  a {
        text-decoration: none;
        color: black;
    }
    ul.two > li:hover ul.four {
        display: block;
       
    }
    ul.four  li a:hover {
        color: coral;
    }
    ul.six {
        width: 230px;
        margin: 100px;
        background-color: antiquewhite;
        position: absolute;
        margin-left: 230px;
    margin-top: 30px;
    top: -30px;
    height: 370px;
    display: none;
    line-height: 30px;
    }
    .five:hover .six{
        display: block;
    }